{% extends 'base.html.twig' %} {% block title %}Proyectos - Porfolio Personal{% endblock %} {% block body %}
<main>
    <section class="proyectos py-5">
        <div class="container">
            <h1 class="display-4 text-capitalize fs-1">{{ title }}</h1>
            <hr />
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for project in projects %}
                <div class="col-md-{% if project.large is defined and project.large %}8{% else %}4{% endif %} mb-3">
                    <div class="card">
                        <div class="card-img-top-container">
                            {% if project.image is defined %}
                            <img
                                src="{{ project.image }}"
                                class="card-img-top"
                                alt="{{ project.title }}"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="{{ project.title }}"
                            />
                            {% else %}
                            <div class="no-image-placeholder">No Image</div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}
