{% extends 'base.html.twig' %} {% block title %}Experiencia Laboral - Porfolio Personal{% endblock %} {% block body %}

<section class="experience-section py-5 bg-light">
    <div class="container">
        <h1 class="display-4 fs-1 text-center text-primary soften-blue">{{ title }}</h1>
        <hr />

        <div class="timeline">
            {% for experience in experiences %}
            <div class="timeline-item" data-aos="fade-right">
                <div class="card mb-4 custom-card bg-white shadow-sm">
                    <div class="card-body">
                        <p class="date">{{ experience.date }}</p>
                        <p class="text-muted">{{ experience.location }}</p>
                        <p class="position">{{ experience.position }}</p>
                        <p class="description">{{ experience.description }}</p>
                        <span><strong class="text-secondary">Aptitudes</strong>: {{ experience.skills }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
