{% extends 'base.html.twig' %} {% block title %}Experiencia Laboral - Porfolio Personal{% endblock %} {% block body %}
<section class="experience-section py-5">
    <div class="container">
        <h1 class="display-4 fs-1 text-center">{{ title }}</h1>
        <hr />

        <div class="row mb-5" data-aos="fade-up">
            {% for experience in experiences %}
            <div class="col-md-6 mb-4" data-aos="fade-up">
                <div class="card mb-4 custom-card">
                    <div class="card-body">
                        <h4>{{ experience.date }}</h4>
                        <p>{{ experience.location }}</p>
                        <p>{{ experience.position }}</p>
                        <p>{{ experience.description }}</p>
                        <p>Aptitudes: {{ experience.skills }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
