{% extends 'base.html.twig' %} {% block title %}Experiencia Laboral - Porfolio Personal{% endblock %} {% block body %}

<section class="experience-section py-5 bg-light">
    <div class="container">
        <h1 class="display-4 fs-1 text-center text-primary soften-blue">{{ title }}</h1>
        <hr />

        <div class="row mb-5" data-aos="fade-up">
            {% for experience in experiences %}
            <div class="col-md-6 mb-4" data-aos="fade-up">
                <div class="card mb-4 custom-card bg-white shadow-sm">
                    <div class="card-body">
                        <h4 class="text-secondary">{{ experience.date }}</h4>
                        <p class="text-muted">{{ experience.location }}</p>
                        <p class="fw-bold">{{ experience.position }}</p>
                        <p>{{ experience.description }}.</p>
                        <span><strong class="text-secondary">Aptitudes</strong>: {{ experience.skills }}.</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
